html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 20px auto;
	background: #555;
}
#title {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

#game {
	width: 960px;
	height: 720px;
	margin: 0px auto;
	border: 1px solid #444;
	background: #DDD;
	display: block;
	cursor: none;
}