html, body
{
	width: 100%;
	height: 100%;
}

body
{
	margin: 20px auto;
	background: #555;
}

#game
{
/*	width: 800px;
	height: 600px;
*/ 	margin: 0px auto;
 	border: 1px solid #444;
	background: #DDD;
	display: block;
}